@import 'colors';

.App-Banner {
    height: 70vh;
    align-items: center;
    background-color: $primary-dark;
    background-image: url('../resources/bannerimg.jpg');

    .Container{
        display: flex;
        flex-wrap: nowrap;
        height: inherit;
        align-items: center;
        align-content: center;
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }

    .searchInput {
        align-content: center;
        color: $primary-dark;
        border: $primary-dark;
        height: 9vh;
        padding-left: 2vw;
        font-family: 'Comfortaa';
        text-decoration-style: $primary-dark;
    }
    .searchBtn {
        background-color: white;
        color: $primary-dark;
        border: $primary-dark;
        height: 9vh;
        padding-right: 2vw;
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {

    .App-Banner {
        height: 60vh;

        .searchInput {
            height: 7vh;
        }
        .searchBtn {
            height: 7vh;
        }
    }

}

//Tab smaller sizes
@media screen and (max-width: 540px) {

    .App-Banner {
        height: 50vh;
    }

}