@import 'colors';

.App-Footer {

    .Container{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 3vw !important;
        font-family: 'Comfortaa';
        color: $primary-dark;
        a{
            color: #b41818;
            text-decoration: none;
        }
        .privacy{
            color: $primary-dark;
        }
        .contacts {
            color: $primary-dark;
            margin: 1px;
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
}

//Tab smaller sizes
@media screen and (max-width: 540px) {
}