@import 'colors';
img {
        height:47px;
    }
.App-Header {
    padding-right: 5vw !important;
    padding-left: 5vw !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
    font-family: 'Comfortaa';

    .nav-link{
        font-size: medium;
        color: $primary-dark !important;
        background-color: white;
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
    img {
        height:37px
    }
}

//Tab smaller sizes
@media screen and (max-width: 540px) {
}