@import 'colors';

.App-Privacy {
    align-items: center;
    background-color: white;
    color: $secondary-dark;

    .Container{
        display: flex;
        height: inherit;
        text-align: start;
        flex-direction: column;
        padding: 5vw !important;
        text-align: justify;
        
        p, ul, li{
            font-size: normal;
            font-weight: 300;
        }

        .textLi{
            padding-left: 5vh;
            font-weight: 300;
            font-size: small;
        }

    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
}

//Tab smaller sizes
@media screen and (max-width: 540px) {
}