@import 'colors';

.App-Services {
    background-color: $primary-dark;
    color: white;

    .Container{
        display: flex;
        height: inherit;
        text-align: start;
        flex-direction: column;
        padding: 5vw !important;
    }

    .sub {
        display: flex;
        justify-content: space-around;
        align-content: center;
        height: inherit;
        font-family: 'Comfortaa';
        text-align: center;
        font-size: x-large;

        .rt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            padding: 5vh;
        }

        .ems{
            font-size: xx-large;
            font-family: Montserrat cursive;
        }

        .enrollBtn, .downloadBtn{
            color: $primary-dark;
            background-color: white;
            border: 2px solid $primary-dark;
            width: 190px;
            border-radius: 0px;
        }

        .actv {
            cursor: default;
           }

        .white{
            background-color: white;
            color: $primary-dark;
            padding: 5vh;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);

            img {
                height: 25vh;
                padding-bottom: 20px;
            }
        }

        .white:hover {
            box-shadow: 0 8px 18px 0 rgba(0,0,0,0.3);
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
    .App-Services {
        .sub {
            font-size: large;
    
            .ems{
                font-size: x-large;
            }
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 540px) {
    .App-Services {
        .sub {
            .enrollBtn, .downloadBtn{
                width: 200px;
                font-size: large;
            }
        }
    }
}