@import 'colors';

.App-Submission {
    height: 80vh;
    align-items: center;
    background-color: $primary-dark;
    color: white;

    .Container{
        display: flex;
        height: inherit;
        text-align: start;
        flex-direction: column;
        padding: 5vw !important;
    }

    .sub {
        display: flex;
        justify-content: space-around;

        img {
            height: 60vh;
            object-fit: contain;
        }

        .leftTxt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            font-family: 'Comfortaa';
            .contact {
                width: 20vw;
                background-color: $primary-dark;
                border: 2px solid white;
                border-radius: 0px;
            }
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {

}

//Tab smaller sizes
@media screen and (max-width: 540px) {
    .App-Submission {
        .sub {
            img {
                height: 45vh;
            }

            .leftTxt{
                padding-top: 5vh;
                padding-bottom: 5vh;
                .contact {
                    width: 60vw;
                }
            }
        }
    }
}