@import 'colors';

.App-Viewer {
    background-color: #E0E0E0;
    padding: 0px !important;
    margin: 0px !important;

    .Container{
        padding: 0px !important;
        color: #101010;
        margin: 0px !important;

        .name {
            font-family: 'Comfortaa';
            padding: 5vw;
            text-align: left;
            margin: 0px !important;

            .cont{
                padding-top: 5vw;
            }

            .adsBanner{
                padding-top: 3vw;
            }
        }
        .file {
            height: 1100px;
            margin: 0px !important;
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
    .name{
        h3{
            font-size: large;
        }
        h5{
            font-size: medium;
        }
        .adsBanner{
            padding-top: 3vw;
            display: none;
        }
    }
}

//Tab smaller sizes
@media screen and (max-width: 540px) {

}