@import './styles/colors';

.App {
  text-align: center;

  .top{
    background-color: $primary-dark;
    padding: 5vw ;
    color: white;
    font-family: 'Comfortaa';
    font-size: xx-large;
  }
  .row{
    --bs-gutter-x: 0rem;
  }
  input, button {
    border-radius: 0;
  }

  input:focus, button:focus {
    box-shadow: none !important;
  }

  .contribute{
    width: 15vw;
    background-color: $primary-dark;
    border: 2px solid $primary-dark;
    color: white;
    margin: 0px;
    border-radius: 0px;
    font-size: large;
  }

  .contribute:hover{
    background-color: white !important;
    border: 2px solid $primary-dark !important;
    color: $primary-dark !important;
  }
}

//Tab smaller sizes
@media screen and (max-width: 720px) {
  .App {
  
    .top{
      font-size: large;
    }

    .contribute {
      width: 40vw;
      margin: 0px;
      font-size: large;
  }
  }
}